{#
This changelog template initializes a full changelog for the project:
  1. Header
  2. Any Unreleased Details (uncommon)
  3. All previous releases, latest first
#}{#
   #    Header
#}{%    include "changelog_header.md.j2"
-%}{#
   #    Any Unreleased Details (uncommon)
#}{%    include "unreleased_changes.md.j2"
-%}{#
#}{%    if releases | length > 0
%}{%      for release in releases
%}{{        "\n"
}}{%        if loop.last and ctx.mask_initial_release
%}{%-         include "first_release.md.j2"
-%}{%       else
%}{%-         include "versioned_changes.md.j2"
-%}{%       endif
%}{{       "\n"
}}{%      endfor
%}{%    endif
%}
